<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Library
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
  <style>
   body {
            font-family: 'Roboto', sans-serif;
        }
        .scroll-container {
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth;
        }
        .scroll-container::-webkit-scrollbar {
            display: none;
        }
        .book-card {
            min-width: 200px;
            max-width: 200px;
        }
  </style>
 </head>
 <body class="bg-gray-100 text-gray-900">
  <header class="bg-gray-800 text-white p-6 shadow-lg">
   <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center space-x-4">
     <h1 class="text-3xl font-bold flex items-center">
      <i class="fas fa-book-open mr-2 text-yellow-500">
      </i>
      Library
     </h1>
     <div class="relative">
      <input class="bg-gray-700 text-white rounded-full pl-10 pr-4 py-2 focus:outline-none" placeholder="Search..." type="text"/>
      <i class="fas fa-search absolute left-3 top-2.5 text-gray-400">
      </i>
     </div>
    </div>
    <nav class="flex items-center space-x-6 text-lg">
     <ul class="flex space-x-6">
      <li>
       <a class="hover:text-yellow-500 transition duration-300" href="/">
        Home
       </a>
      </li>
      <li>
       <a class="hover:text-yellow-500 transition duration-300" href="#">
        Books
       </a>
      </li>
      <li>
       <a class="hover:text-yellow-500 transition duration-300" href="/about">
        About
       </a>
      </li>
      <li>
       <a class="hover:text-yellow-500 transition duration-300" href="#">
        Contact
       </a>
      </li>
     </ul>
     <div class="flex items-center space-x-4">
      <i class="fas fa-user-circle text-2xl">
      </i>
      <button class="bg-yellow-500 text-gray-800 px-4 py-2 rounded-full hover:bg-yellow-600 transition duration-300" href="/" >
       Login
      </button>
     </div>
    </nav>
   </div>
  </header>
  <main class="container mx-auto p-4 bg-white">
   <section class="mb-8">
    <h2 class="text-3xl font-bold mb-4">
     Recommended
    </h2>
    <div class="relative">
     <button class="absolute left-[-20px] top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full" onclick="scrollL('recommended')">
      <i class="fas fa-chevron-left">
      </i>
     </button>
     <div class="scroll-container space-x-6" id="recommended">
      {% for el in recomend %}
      <div class="bg-white p-4 rounded-lg shadow-md book-card border=3px">
        <a href="/{{el}}" class="block">
         {% set formatted_number = '{:04}'.format(el) %}
         {% set image_path = 'static/img/' + formatted_number + '.png' %}
       <img alt="Cover of the book 'The Great Gatsby' by F. Scott Fitzgerald" class="w-full h-48 object-cover mb-4 rounded" height="300" src={{image_path}} onerror="this.src='/static/img/load_err.png';" width="200"/>
       <h3 class="text-xl font-bold">
        {{recomend[el].book_name}}
       </h3>
       <p class="text-gray-700">
        {{recomend[el].authors | join(', ') }}
       </p>
         </a>
      </div>

      {% endfor %}
     </div>
     <button class="absolute right-[-20px] top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full" onclick="scrollR('recommended')">
      <i class="fas fa-chevron-right">
      </i>
     </button>
    </div>
   </section>
   <section class="mb-8">
    <h2 class="text-3xl font-bold mb-4">
     Popular
    </h2>
    <div class="relative">
     <button class="absolute left-[-20px] top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full" onclick="scrollL('popular')">
      <i class="fas fa-chevron-left">
      </i>
     </button>
     <div class="scroll-container space-x-6" id="popular">
      {% for el in popular %}
      <div class="bg-white p-4 rounded-lg shadow-md book-card border=3px">
        <a href="/{{el}}" class="block">
         {% set formatted_number = '{:04}'.format(el) %}
         {% set image_path = 'static/img/' + formatted_number + '.png' %}
       <img alt="Cover of the book 'The Great Gatsby' by F. Scott Fitzgerald" class="w-full h-48 object-cover mb-4 rounded" height="300" src={{image_path}} onerror="this.src='/static/img/load_err.png';" width="200"/>
       <h3 class="text-xl font-bold">
        {{popular[el].book_name}}
       </h3>
       <p class="text-gray-700">
        {{popular[el].authors | join(', ') }}
       </p>
         </a>
      </div>

      {% endfor %}
     </div>
     <button class="absolute right-[-20px] top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full" onclick="scrollR('popular')">
      <i class="fas fa-chevron-right">
      </i>
     </button>
    </div>
   </section>
   <section class="mb-8">
    <h2 class="text-3xl font-bold mb-4">
     Reader's Choice
    </h2>
    <div class="relative">
     <button class="absolute left-[-20px] top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full" onclick="scrollL('readers-choice')">
      <i class="fas fa-chevron-left">
      </i>
     </button>
     <div class="scroll-container space-x-6" id="readers-choice">
      {% for el in readers_choise %}
      <div class="bg-white p-4 rounded-lg shadow-md book-card border=3px">
        <a href="/{{el}}" class="block">
         {% set formatted_number = '{:04}'.format(el) %}
         {% set image_path = 'static/img/' + formatted_number + '.png' %}
       <img alt="Cover of the book 'The Great Gatsby' by F. Scott Fitzgerald" class="w-full h-48 object-cover mb-4 rounded" height="300" src={{image_path}} onerror="this.src='/static/img/load_err.png';" width="200"/>
       <h3 class="text-xl font-bold">
        {{readers_choise[el].book_name}}
       </h3>
       <p class="text-gray-700">
        {{readers_choise[el].authors | join(', ') }}
       </p>
         </a>
      </div>

      {% endfor %}
     </div>
     <button class="absolute right-[-20px] top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full" onclick="scrollR('readers-choice')">
      <i class="fas fa-chevron-right">
      </i>
     </button>
    </div>
   </section>
  </main>
  <footer class="bg-gray-800 text-white p-4 mt-8">
   <div class="container mx-auto text-center">
    <p>
     © 2023 Library. All rights reserved.
    </p>
   </div>
  </footer>
  <script>
   function scrollR(id) {
        document.getElementById(id).scrollBy({ left: 800, behavior: 'smooth' });
    }
    function scrollL(id) {
        document.getElementById(id).scrollBy({ left: -800, behavior: 'smooth' });
    }
  </script>
 </body>
</html>
